<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">
    <nav class="bg-blue-500 p-4 text-white">
        <div class="container mx-auto">
            <div class="flex justify-between items-center">
                <a href="/" class="text-2xl font-bold">Ma Ludotheque</a>
                <div class="flex items-center space-x-4">
                    <a href="/" class="hover:underline">Accueil</a>
                    <a href="/clients" class="hover:underline">Clients</a>
                    <a href="/jeux" class="hover:underline">Jeux</a>
                </div>
                <div class="flex flex-col items-end"> <!-- Flex direction column pour placer les éléments verticalement -->
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                            Déconnexion
                        </button>
                    </form>
                    <div class="mt-2 text-right"> <!-- Ajout d'un margin-top pour espacer -->
                        <p th:text="'Connecté : ' + ${utilisateur.mailPro}"></p>
                        <p th:text="'Role : ' + ${utilisateur.userRole}"></p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
